# Site output
analysis/_site/*
analysis/survey/*.pdf
analysis/survey/*.html

# Site output
analysis/_site/*
analysis/site_libs/*

# knitr and caching stuff
*_files/*
*_cache/*

# Targets stuff
_targets

# Manuscript output
manuscript/*.log
manuscript/output/*.docx
manuscript/output/*.html
manuscript/output/*.pdf
manuscript/output/*.tex
manuscript/output/figures/*
manuscript/submissions/*

# Large data files (these get downloaded automatically with 
# targets::tar_make(c(survey_results_file, gamma_draws_file)))
data/private_data/*
data/raw_data/final_data.rds
data/raw_data/posterior_draws/*.rds

# Other folders
admin/*
private/*

# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Miscellaneous
*.~lock.*
.DS_Store
.dropbox
Icon?
