# Site output
analysis/_site/*
analysis/survey/*.pdf
analysis/survey/*.html

# Site output
analysis/_site/*
analysis/site_libs/*

# knitr and caching stuff
*_files/*
*_cache/*
lib/*.rds

# Targets stuff
_targets

# Manuscript output
manuscript/*.log
manuscript/output/*.docx
manuscript/output/*.html
manuscript/output/*.pdf
manuscript/output/*.tex
manuscript/output/figures/*
manuscript/submissions/*

# Original output
data/private_data/*

# Other folders
admin/*
private/*

# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Miscellaneous
*.~lock.*
.DS_Store
.dropbox
Icon?
